:root {
  --slidev-code-font-size: 14px;
}

.dark .slidev-slide-content {
  background-color: #000 !important;
}

.slidev-layout {
  color: var(--sd-text-primary);
  @apply px-14 py-9 flex flex-col;
  h1 + p {
    @apply -mt-2 mb-4 text-xl;
  }

  p + h2,
  ul + h2,
  table + h2 {
    @apply mt-10;
  }

  h1 {
    @apply text-4xl mb-4 -ml-[0.05em];
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  h5 {
    @apply text-base;
  }

  h6 {
    @apply text-sm pt-1 uppercase tracking-widest font-500 -ml-[0.05em];
  }

  h6:not(.opacity-100) {
    @apply opacity-40;
  }

  &::after {
    content: "";
    display: block;
    width: 180px;
    height: 140px;
    position: absolute;
    background-image: url("../assets/sberdevices_logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(-90deg);
    right: -120px;
    bottom: 45px;
  }
}

.default,
.two-columns,
.two-cols-header {

  h1 {
    @apply text-3xl mb-10;
  }
}

.slidev-layout.cover,
.slidev-layout.intro {
  @apply h-full grid items-end;

  h1 {
    @apply text-5xl leading;
  }
}

.wo-logo {
  &::after {
    display: none;
  }
}

.slidev-layout.fact {
  @apply text-center grid h-full;

  h1 {
    @apply text-8xl font-700;
  }

  h1 + p {
    @apply font-700 text-2xl;
  }
}

.slidev-layout.statement {
  @apply text-center grid h-full;

  h1 {
    @apply text-6xl font-700;
  }
}

.slidev-layout.quote {
  @apply grid h-full;

  h1 + p {
    @apply mt-2;
  }
}

.slidev-layout.section {
  h1 {
    @apply text-8xl font-500 leading-20;
  }
}
.slidev-layout {
  ul li {
    list-style: none;
    position: relative;
    @apply text-2xl leading-9 mb-2;
  }

  ul li::before {
    content: "—";
    position: absolute;
    display: block;
    font-size: 12px;
    color: var(--sd-light-green);
    @apply -left-5 -top-0;
  }

  ol li::marker {
    color: var(--sd-light-green)
  }

  .number-blocks {
    @apply h-full;
  }
  .number-blocks ol {
    @apply grid grid-cols-2 h-full gap-x-10;
  }
  .number-blocks li {
    list-style: none;
    position: relative;
    @apply text-2xl;
  }
  .number-blocks li::before {
    display: list-item;
    content: counter(list-item);
    color: black;
    background: var(--sd-gradient);
    width: min-content;
    background-clip: text;
    -webkit-text-stroke: 2px transparent;
    padding-left: 1px;
    @apply text-5xl mb-3;
  }
}

.slidev-layout.responsive {
}

.slidev-layout.two-cols-header {
  grid-template-rows: auto 1fr !important;
}

.slidev-layout :not(pre) > code {
  @apply rounded;
}

.slidev-layout :not(pre) > code {
  background-color: #161F22;
}

.blue-block {
  color: var(--sd-white-text);
  background-color: var(--sd-blue);
  @apply rounded-2xl p-4 leading-12;

  p {
    @apply leading-7;
  }
}

.yellow-block {
  color: var(--sd-black-text);
  background-color: var(--sd-yellow);
  @apply rounded-2xl p-4;
  
  code {
    color: var(--sd-white-text);
  }
  p {
    @apply leading-7;
  }
}